:root {
    --color-text-light: #f5f5f5;
    --color-text-lighter: #f5fafb;
    --color-primary-bg: #08370b;
    --color-primary-bg-dark: #0e2610;
}

main{
    color: var(--color-text-lighter);
    padding: 30px;
    flex: 2.5;
}

#botao{
    background-color: var(--color-primary-bg-dark);
    color: var(--color-text-lighter);
}

figure{
    flex:1.5;
}

/* Responsividade */
@media (max-width: 768px) {
    main {
        padding: 15px;
        flex-direction: column;
    }

    figure {
        flex: 1;
    }
}

